body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("images/head_tv.png");
  height: 600px;
  background-position: center center;
  position: relative;
  background-size: 70%;
  top: 50px;
  width: 100%;
  padding: 0px 0px 50px 0px;
}


.cover {
  background:  url("images/index_back.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  position: relative;
  top: -55px;
  width: 100%;
}

.navigation {
  background-color: rgba(234, 255, 255, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 20px;
  text-transform: uppercase;
}

#logo {
  color: #FCA311;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding: 0px 10px;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 150px;
  width: 70%;
}

h1 {
  color: #FF6666;
  font-family: 'Amatic SC', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

h2 {
  color: #FFFFFF;
  -webkit-text-stroke: 1px blue;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 200;
  text-align: center;
}

h3 {
  color: #14213D;
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}

h5 {
  color: blue;
  font-family: 'Arial', sans-serif;
  font-size: 42px;
  font-weight: 200;
  text-align: center;
}

p {
  color: #333;
  font-family: 'arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 20px;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #14213D;
  background-image: -webkit-linear-gradient(#FFD194, #BC1324);
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  padding: 14px;
}

.products {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 100px 0px 0px 0px;
  text-align: center;
}

.references {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 0px;
  text-align: center;
}

.fractals {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 10px 0px 0px 0px;
  text-align: center;
}



.product {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: center;
  width: 45%;
}

.product img {
  width: 100%;
}

.blue {
  color: #14213D !important;
}





.byline {
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
}

.caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.65);
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 90%;
  width: 60%;
}

.content {
  padding: 40px;
}

.writer-img {
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  text-align: left;
  top: 150px;
  width: 12%;
  top: 150px;
}

.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-4/htmlcss1-img_soccer.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
}